

NET "R[0]" LOC = A3;
NET "R[1]" LOC = B4;
NET "R[2]" LOC = C5;
NET "R[3]" LOC = A4;
NET "G[0]" LOC = C6;
NET "G[1]" LOC = A5;
NET "G[2]" LOC = B6;
NET "G[3]" LOC = A6;
NET "B[0]" LOC = B7;
NET "B[1]" LOC = C7;
NET "B[2]" LOC = D7;
NET "B[3]" LOC = D8;
NET "HSync" LOC = B11;
NET "VSync" LOC = B12;
NET "reset" LOC = E16;
NET "Left" LOC = T16;
NET "Down" LOC = V10;
NET "Up" LOC = F15;
NET "int1" LOC = P4;
NET "clk" LOC = E3;
NET "RD" LOC = V11;
NET "WR" LOC = V15;
NET "CS" LOC = P15;
NET "AD" LOC = G14;
NET "DatAdd[0]" LOC = B13;
NET "DatAdd[1]" LOC = F14;
NET "DatAdd[2]" LOC = D17;
NET "DatAdd[3]" LOC = E17;
NET "DatAdd[4]" LOC = G13;
NET "DatAdd[5]" LOC = C17;
NET "DatAdd[6]" LOC = D18;
NET "DatAdd[7]" LOC = E18;


# PlanAhead Generated IO constraints 

NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;
NET "DatAdd[7]" IOSTANDARD = LVCMOS33;
NET "DatAdd[6]" IOSTANDARD = LVCMOS33;
NET "DatAdd[5]" IOSTANDARD = LVCMOS33;
NET "DatAdd[4]" IOSTANDARD = LVCMOS33;
NET "DatAdd[3]" IOSTANDARD = LVCMOS33;
NET "DatAdd[2]" IOSTANDARD = LVCMOS33;
NET "DatAdd[1]" IOSTANDARD = LVCMOS33;
NET "DatAdd[0]" IOSTANDARD = LVCMOS33;
NET "R[3]" IOSTANDARD = LVCMOS33;
NET "R[2]" IOSTANDARD = LVCMOS33;
NET "R[1]" IOSTANDARD = LVCMOS33;
NET "R[0]" IOSTANDARD = LVCMOS33;
NET "G[3]" IOSTANDARD = LVCMOS33;
NET "G[2]" IOSTANDARD = LVCMOS33;
NET "G[1]" IOSTANDARD = LVCMOS33;
NET "G[0]" IOSTANDARD = LVCMOS33;
NET "AD" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "Down" IOSTANDARD = LVCMOS33;
NET "HSync" IOSTANDARD = LVCMOS33;
NET "int1" IOSTANDARD = LVCMOS33;
NET "Left" IOSTANDARD = LVCMOS33;
NET "RD" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "VSync" IOSTANDARD = LVCMOS33;
NET "Up" IOSTANDARD = LVCMOS33;
NET "WR" IOSTANDARD = LVCMOS33;
